table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
} 

caption {
  text-align: left;
  font-size: large;
  font-weight: bold;
}